{# <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
    <h1>Welcome, {{ name }}</h1>

    {% for fossil in MOST_LIKED_FOSSILS %}
    <div class="fossil-div">
      <h3>{{ name }}, this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossils[0].num_likes }} times.</h2>
      <img src="{{ fossils[0].img }}" />
    </div>
    {% endfor %}

  </body>
</html> #}

{% extends 'base.html.njk' %}
{% block title %}Most Liked Fossils{% endblock title %}

{% block body %}
<h1>Welcome to the Museum, {{ name }}</h1>

    {% for key, value in MOST_LIKED_FOSSILS %}
  <div class="fossil-div">
    <h3>{{ name }}, this is a {{ value.name }}</h3>
    <h2>Liked {{ value.num_likes }} times.</h2>
    <img src="{{ value.img }}" />
  </div>
{% endfor %}
{############################## Form ##############################}

    <form action="/like-fossil" method="POST" class="fossil-form">
    <label for="fossil-select">Select a fossil to like:</label>
    <select name="fossil-select" id="fossil-select">
        {% for key, value in MOST_LIKED_FOSSILS %}
          <option value="{{ key }}">{{ value.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Like this fossil!" />
</form>

{% endblock body %}